<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add car</title>
</head>

<body>
    <h1>add car page</h1>
    {{#if id}}
    <div>new car with id = {{id}} added to database</div>
    {{/if}}
    <form action="/addCar" method="POST">
        <input type="checkbox" name="ubezpieczony" id="ubezpieczony">
        <label for="ubezpieczony">ubezpieczony</label><br>
        <input type="checkbox" name="benzyna" id="benzyna">
        <label for="benzyna">benzyna</label><br>
        <input type="checkbox" name="uszkodzony" id="uszkodzony">
        <label for="uszkodzony">uszkodzony</label><br>
        <input type="checkbox" name="naped" id="naped">
        <label for="naped">napęd 4x4</label><br>
        <button type="submit" id="addCarButton" name="addCarButton">add</button>
    </form>
</body>

</html>